body{
	font-size: 16px;
}

header {
    padding-top: 0.625em;
}

.page-layout{
	width: 70em;
}

.highlight {
	margin-bottom: 1.25em;
}

.tag {
	padding: 0 4px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.compare {
	overflow: hidden;
	margin-bottom: 1em;
}

.content ul {
    margin: -0.95em 0 1em;
    padding: 0;
    list-style: none;
}

.content li:before {
    content: '—';
    margin-right: 5px;
    color: #aaa;
}

footer {
    padding: 1.25em 0;
    font-size: 0.8em;
}