<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }}{% else %}Effrenus Github pages{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/foundation/normalize.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/foundation/foundation.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
	<meta name="yandex-verification" content="57db6ff05f88f6cf">
	<meta name="google-site-verification" content="aPo7vDZlY8Cgwt2lal5cwpuAP8kYYAu3rbo5Gut7Ti0">
</head>
<body>
	<header class="row">
		<div class="large-centered large-10 columns">
			<h1>{% if page.title %}{{ page.title }}{% else %}Заметки{% endif %}</h1>
		</div>
	</header>

	{% if page.video_url %}
	<section class="row">
		<div class="large-centered large-10 columns">
			{% if page.video_host == 'youtube' %}
			<iframe width="853" height="480" src="{{ page.video_url }}" frameborder="0" allowfullscreen></iframe>
			{% endif %}
		</div>
	</section>
	{% endif %}

	<section class="row">
		<div class="large-centered large-10 columns">
			{{ content }}
		</div>
	</section>
</body>
</html>